.image-container {
    width: 50px;
    height: 50px;
}

.container {
    width: 500px;
    height: 500px;
    margin: 2px;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}
.image-container {
    width: 50px;
    height: 50px;
}